@import "../../assets/media.less";
@import "../../assets/mixins.less";
@import "../../assets/palette.less";
@import '../../assets/typography.less';

.CitiesSlider {
  max-width: 1200px;
  margin: 40px auto 0px;
}

.CitiesSlider__city {
  color: @text-color;
  margin: 10px;
  font-size: 16px;
}

.CitiesSlider__header {
  text-align: center;
  color: @additional-text-color;
  padding: 12px 0px 0px;
  margin: 0px;
  font-size: 30px;
}

@media @phone {
  .CitiesSlider__header {
    padding: 12px 0px 0px;
    margin: 0px;
    font-size: 24px;
    line-height: 30px;
  }
}

.CitiesSlider__card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  background-color: whitesmoke;
  margin: 10px;
  padding-bottom: 10px;
}

.CitiesSlider__card__head {
  text-align: center;
}

.CitiesSlider__card-image {
  display: block;
  max-width: 280px;
  max-height: 175px;
  width: 100%;
}

@media @phone {

}

.slick-next::before {
  color: @primary-1-color !important;
}

.slick-prev::before {
  color: @primary-1-color !important;
}

/* Slider */
.slick-slider {
  position: relative;

  display: block;

  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;

  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}